<ion-header>
  <ion-navbar>
    <ion-title>
      En cours : {{gameName}}
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item *ngIf="showButton">
      <button ion-button full color="danger" (click)="stop()">Stopper</button>
    </ion-item>
    <ion-item *ngIf="showButton">
      <button ion-button full (click)="restart()">Relancer</button>
    </ion-item>
  </ion-list>
  <ion-list>
    <ion-item *ngFor="let screenview of gameScreen">
      <ion-grid>
        <ion-row>
          <ion-col col-6>
            <ion-card>
              <img src="{{screenview.img1}}"/>
            </ion-card>
          </ion-col>
          <ion-col col-6>
            <ion-card>
              <img src="{{screenview.img2}}"/>
            </ion-card>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>
  </ion-list>
</ion-content>
