<ion-header>
  <ion-navbar>
    <ion-title>
      <ion-item>
      <ion-label>Liste des jeux</ion-label>
      <ion-select [(ngModel)]="emulatorId" (ionChange)="refreshList()">
        <ion-option *ngFor="let emulator of emulatorList" [value]="emulator.id">{{emulator.name}}</ion-option>
      </ion-select>
      </ion-item>
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-list>
    <ion-item *ngFor="let game of gameList" (click)="openMenu(game.id)">
      <h2>{{game.name}}</h2>
      <p>{{game.type.name}}</p>
    </ion-item>
  </ion-list>
</ion-content>
